@import 'utils/mixins';

.main-banner,
.main-banner--more-info {
  width:99.7%;
  margin-left: 2px;
}

.main-banner {
  background-image: url('../images/main-banner.jpg');
}

.main-banner--more-info {
  background-image: url('../images/main-banner-info.jpg');
}

.marketing-message {
    margin-top: -40px;
    text-align: center;
    
    @include respond-to('tablet'){
        margin-top: 0;
    }
    .marketing-message__element {
        h3 {
            margin: 0 auto;
        }
    }
}

