@import 'utils/vars';

footer {
  clear: both;
  overflow: hidden;
  hr {
    border-color: $font-color--dark;
    background-color: $font-color--dark;
    color: $font-color--dark;
    margin-left: 2px;
  }
  .show-more {
    background: $background--smoke;
    font-size: 9px;
    text-align: center;

        .show-more--title{
            padding: 5px;
            cursor:pointer;
        }
        .show-more--description {
            padding: 10px 20px;
        }
    }
    .footer-menu {
        color: $font-color--dark;
        a {
            color: $font-color--dark;
            text-decoration: none;
        }
    }

    .footer-diclaimer {
        font-size: 9px;
        overflow: hidden;
        clear: both;
        background: $background--smoke;
        color: $font-color--dark;
        padding: 5px;
        a {
            text-decoration: none;
            color: $font-color--dark;
            font-size: 10px;
        }
            
        &:after{
            clear: both;
        }
    }
}