@import 'utils/vars';

header {
    float:left;
    width: 100%;
    
    &::after {
        clear: both;
    }
    
    & img {
        padding: 30px $half-space;
        float: left;
    }
}


nav {
    float: left;

    &::after{
        clear: both;
    }

    & li {
        display: block;
        float:left;
        width: $nav-item-width;
        height: 56px;
        cursor: pointer;
        background-image: url("../images/navigation-sprites.png");
    }
}

.disclaimer {
    clear: both;
    background-color: $background--smoke;
    color: $font-color--grey;
    padding:8px;
    margin-left: 2px;
    font-size: 9px;
    font-style: normal;
}