@import 'utils/vars';
@import 'utils/grid_3';
@import 'utils/grid_5';
@import 'utils/mixins';
@import 'header';
@import 'sprites';

@import 'banner';

@import 'footer';

body {
  font-family: Verdana, Geneva, sans-serif;
  color: $font-color--light;
  background-image: $background--grey;
  padding: $half-space;
  margin: 0 auto;
  width: 80%;
}

h3 {
  font-size: 9px;
}

ul,ol{
  list-style-position: inside;
  font-size: 9px;
}

ul{
  list-style: none;
}

li {
  font: Verdana, Geneva, san-serif;
}

#container {
  margin: -$half-space;
  padding: 0;
  background: $background--dark;
  overflow: hidden;
}

.pull-right{
  float: right;
}