@import 'utils/mixins';
@import 'utils/vars';

$smaller-space: -10px;

.poker {
    background-position: $smaller-space $smaller-space;
    
    &:hover {
        background-position: $smaller-space $nav-item-height;
    }
}

.casino {
    background-position: -($nav-item-width - $smaller-space) $smaller-space;
    
    &:hover {
        background-position: -($nav-item-width - $smaller-space) $nav-item-height;
    }
}

.sports {
    background-position: -(2*$nav-item-width - $smaller-space +1) $smaller-space;
    
    &:hover {
        background-position: -(2*$nav-item-width - $smaller-space +1) $nav-item-height;
    }
}

.live {
    background-position: -(3*$nav-item-width - $smaller-space +3) $smaller-space;
    
    &:hover {
        background-position: -(3*$nav-item-width - $smaller-space +3) $nav-item-height;
    }
}

.join-cta {
    border: 5px solid black;
    border-radius: 10px;
    width:174px; 
    height:48px;
    background-position:-10px -10px;   
    background-image:url("../images/join-now.png");
    top: -32px;
    left:40%;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: $font-color--light;
    font-size: 20px;    
    text-shadow: 3px 0 $font-color--dark;

    @include respond-to('tablet') {
        top:-32px;
        left: 35%
    }
    @include respond-to('mobile') {
        top: 0;
        left: 30%;    
    }
    &:focus {
        outline: 0;
    }
    &:hover { 
        background-position:-10px -68px;
    }
}

.channel-list {
    clear: both;
    .channel-list__element {
        cursor: pointer;
        width: 236px;
        height: 118px;
        background-position: -10px -138px;
        margin:10px auto;

        &:hover{
            background-position: -10px -10px;
        }
        &:after {
            clear:both;
          }

        &--casino{
          background-image: url('../images/play-casino-sprites.png');
        }

        &--poker{
          background-image: url('../images/download-poker-sprites.png');
        }
        &--bet{
          background-image: url('../images/bet-now-sprites.png');
        }
        
    }
}
