<footer>
    <hr>
    <div class="show-more">
        <div class="show-more--title" ng-click="home.showMoreInfo()">SHOW MORE INFO</div>
        <div class="show-more--description" ng-show="home.moreInfo">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. 
        </div>    
    </div>
    <div class="grid--5">
        <div class="grid__cell footer-menu">
            <ul>
                <h3><a href="#">Sports Betting</a></h3>
                <li><a href="#">Foottball betting</a></li>
                <li><a href="#">Sports live betting</a></li>
                <li><a href="#">Cricket betting</a></li>
                <li><a href="#">MLB baseball betting</a></li>
                <li><a href="#">NFL footbal betting</a></li>
            </ul>
        </div>
        <div class="grid__cell footer-menu">
            <ul>
                <h3><a href="#">Sports Betting</a></h3>
                <li><a href="#">Foottball betting</a></li>
                <li><a href="#">Sports live betting</a></li>
                <li><a href="#">Cricket betting</a></li>
                <li><a href="#">MLB baseball betting</a></li>
                <li><a href="#">NFL footbal betting</a></li>
            </ul>
        </div>
        <div class="grid__cell footer-menu">
            <ul>
                <h3><a href="#">Sports Betting</a></h3>
                <li><a href="#">Foottball betting</a></li>
                <li><a href="#">Sports live betting</a></li>
                <li><a href="#">Cricket betting</a></li>
                <li><a href="#">MLB baseball betting</a></li>
                <li><a href="#">NFL footbal betting</a></li>
            </ul>
        </div>
        <div class="grid__cell footer-menu">
            <ul>
                <h3><a href="#">Sports Betting</a></h3>
                <li><a href="#">Foottball betting</a></li>
                <li><a href="#">Sports live betting</a></li>
                <li><a href="#">Cricket betting</a></li>
                <li><a href="#">MLB baseball betting</a></li>
                <li><a href="#">NFL footbal betting</a></li>
            </ul>
        </div>
        <div class="grid__cell">
            <ul class="footer-menu">
                <h3><a href="#">Sports Betting</a></h3>
                <li><a href="#">Foottball betting</a></li>
                <li><a href="#">Sports live betting</a></li>
                <li><a href="#">Cricket betting</a></li>
                <li><a href="#">MLB baseball betting</a></li>
                <li><a href="#">NFL footbal betting</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-diclaimer grid--3">
        <div class="grid__cell">
            <span><a href="#">About</a></span>|
            <span><a href="#">Responsible Gaming</a></span>|
            <span><a href="#">Privacy Policy</a></span>
        </div>
        <div class="grid__cell pull-right">
            <span><a href="#">Affiliate Program</a></span>|
            <span><a href="#">International Sites</a></span>
        </div>
    </div>
</footer>