<header>
    <img src="images/brand-logo.jpg" alt="Brand logo">
    <nav>
        <li class="poker"><a href="#"></a></li>
        <li class="casino"><a href="#"></a></li>
        <li class="sports"><a href="#"></a></li>
        <li class="live"><a href="#"></a></li>
    </nav>
    <div class="disclaimer">Hello World!</div>    
</header>