.grid--5 {

  .grid__cell {
    width: 20%;

    &:nth-child(5n+1) {
      clear: both;
    }

    @include respond-to('tablet') {
      width: 33%;

      &:nth-child(5n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: both;
      }
    }

    @include respond-to('phone') {
      width: 100%;
    }
  }

}
