@import 'mixins';

.grid--3 {

  .grid__cell {
    width: 33.333%;

    // TODO: will need a helper for IE8
    &:nth-child(3n+1) {
      clear: both;
    }

    @include respond-to('tablet') {
      width: 50%;

      &:nth-child(3n+1) {
        clear: none;
      }

      &:nth-child(2n+1) {
        clear: both;
      }
    }

    @include respond-to('mobile') {
      width: 100%;
    }
  }
}
.grid__cell {
  float: left;
}

