@import 'vars';

@mixin respond-to($size, $condition: max-width) {
  // In case media query is in quotes
  $condition: unquote($condition);
  @if map-has-key($screen-size, $size) {
    @media ($condition: map-get($screen-size, $size)) {
      @content;
    }
  } @else {
    @warn "Could not find `#{$size}` in both local ($tweakpoints) and global ($breakpoints) contexts. Media block omitted.";
  }
}