// colors
$font-color--dark: #636363;
$font-color--black: #000;
$font-color--grey: #85A5B1;
$font-color--light: #fff;

$background--dark: #000;
$background--smoke: #1B2226;
$background--grey: url('../images/background.jpg');
$background--light: #eee;

//nav

$nav-item-width: 82px;
$nav-item-height: -67px;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 9px;
$font-size--sm: 11px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

$screen-size: (
    'mobile': 480px,
    'tablet': 768px
)