<div ng-include="'partials/navigation.html'"></div>
<section>
    <div>
        <img ng-hide="home.moreInfo" class="main-banner" src="../images/main-banner.jpg" alt="Main banner">
        <img ng-show="home.moreInfo"  class="main-banner" src="../images/main-banner-info.jpg" alt="Main banner more info">
    </div>
    <button class="join-cta" ng-click="home.join()">
        JOIN NOW    
    </button>
</section>
<section class="grid--3 marketing-message">
    <div class="grid__cell marketing-message__element">
        
        <ol>
            <h3>START PLAYING IN 3 STEPS</h3>
            <li>COMPLETE THE JOIN FORM</li>
            <li>FUND YOUR ACCOUNT</li>
            <li>START PLAYING!</li>
        </ol>    
    </div>
    <div class="grid__cell pull-right marketing-message__element">
        <ul>
            <h3>BONUSES &amp; BENEFITS</h3>
            <li>10% INSTANT BONUS</li>
            <li>FREE AND FAST PAYOUTS</li>
            <li>4 GREAT PRODUCTS - 1 ACCOUNT</li>
        </ul>    
    </div>
</section>
<section class="grid--3 channel-list">
    <div class="grid__cell">
        <div class="channel-list__element channel-list__element--poker"></div>
    </div>
    <div class="grid__cell">
        <div class="channel-list__element channel-list__element--casino"></div>
    </div>
    <div class="grid__cell">
        <div class="channel-list__element channel-list__element--bet"></div>
    </div>
</section>
<div ng-include="'partials/footer.html'"></div>